.Panel {
  display: flex;
  flex-direction: column;

  .Panel-header {
    display: flex;
    align-items: center;

    .Panel-titleWrapper {
      flex: 1 1 auto;
      display: flex;
    }

    .Panel-titleActions {
        flex: 0 0 auto;
    }

    .Panel-actions {
      flex: 0 0 auto;
    }
  }

  .Panel-body {
    flex: 1 1 auto;
  }

  .PanelMenu > .dropdown-menu > li > a {
    cursor: pointer;
  }
}
