.Panel {
  display: flex;
  flex-direction: column;

  .Panel-header {
    display: flex;
    align-items: center;

    background-color: black;
    padding: 8px 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .Panel-titleWrapper {
      flex: 1 1 auto;
    }

    .Panel-actions {
      flex: 0 0 auto;
    }

    .Panel-title {
      color: white;
      text-transform: uppercase;
    }
  }

  .Panel-body {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .PanelMenu {
    > button {
      // Override a bunch of bootstrap defaults
      padding: 3px;
      font-size: 14px;
      line-height: 14px;
      background-color: transparent;
      color: rgba(white, 0.7);
      border-color: rgba(white, 0.5);
      border-radius: 50%;

      &:hover {
        color: white;
      }

      > i.fa {
        width: 14px;
        height: 14px;
      }
    }

    &.open > button {
      background-color: white;
      border-color: white;
      box-shadow: none;
      color: black;
    }
  }

}