$fa-font-path: "~font-awesome/fonts/";
@import "node_modules/font-awesome/scss/font-awesome";

.Select{
  position: relative;

  .Select-input{
    padding: 4px;
    cursor: text;
    border: 1px solid #ccc;
    background-color: #fff;

    .Select-placeholder{
      color: #777;
    }

    .Select-filterInput{
      border: none;
      outline: none;

      &.Select-filterInput--empty{
        width: 1px;
      }
    }
  }

  &.Select--opened{
    .Select-input{
      outline: none;
      border-color: #66afe9;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
  }

  &.Select--closed{
    .Select-optionsList{
      height: 0px;
      padding: 0px;
      border: none;
    }
  }

  .Select-optionsList{
    overflow: hidden;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;

    .Select-group{
      .Select-groupHeader{
        cursor: pointer;
        padding: 1px 5px;

        .Select-groupHeaderIcon{
          text-align: center;
          width: 14px;
        }
      }

      .Select-groupOptions{
        overflow: hidden;

        .Select-option{
          padding-left: 16px;
        }
      }

      &.Select-group--opened{
        .Select-groupHeader .Select-groupHeaderIcon{
          @extend .fa;
          @extend .fa-caret-down;
        }
      }

      &.Select-group--closed{
        .Select-groupHeader .Select-groupHeaderIcon{
          @extend .fa;
          @extend .fa-caret-right;
        }
        .Select-groupOptions{
          height: 0px;
        }
      }

      &:hover{
        .Select-groupHeader{
          cursor: pointer;
          font-weight: 600;
          background-color: rgba(204, 204, 204,.2);
        }
      }
    }

    .Select-option{
      padding: 1px 8px;

      &.Select-option--suggested {
        background-color: rgba(102, 142, 233,.2) !important;
      }

      &:hover{
        cursor: pointer;
        background-color: rgba(102,175,233,.2);

        .OptionExample-label{
          font-weight: 600;
        }
      }
    }
  }
}
