{
  "extends": "airbnb",

  "plugins": [
    "react"
  ],

  "rules": {
    "block-scoped-var": 0,    //OK: Doesn't work with ES6
    "id-length": 0,           //OK: There is no point to disallow declaring variable as short as `x` or `y`.
    "no-nested-ternary": 0,   //OK: Nested ternary are fine for conditionnal adffectation if indented properly.
    "react/no-multi-comp": 0, //OK: Private components can be defined in the same file.

    "new-cap": [2, { "capIsNew": false }],   //Allow uppercase-started functions to be called without new operator (for ImmutableJS, etc).
    "no-use-before-define": [2, "nofunc"],   //Allow func to call funcs defined later in order to improve code readability
    "no-unused-vars": [2, {"args": "none"}], //Allow unused argument definition in order to keep functions signatures self documented.
    "react/sort-comp": [2, {
      'order': [
        'lifecycle',
        'everything-else',
        '/^_?(on|handle).+$/',
        'render',
        '/^_?render.+$/'
      ]
    }],
    "quote-props": [2, "as-needed"],         //Disallow to quote properties (of object) when it's not requiered.
  },
}
