$fa-font-path: "~font-awesome/fonts/";
@import "node_modules/font-awesome/scss/font-awesome";

.Select{
  .Select-optionsList{
    overflow: hidden;
  }

  &.Select--opened{
  }

  &.Select--closed{
    .Select-optionsList{
      height: 0px;
    }
  }

  .Select-optionsList{
    position: absolute;
    background-color: white;

    .Select-group{
      .Select-groupHeader{
        cursor: pointer;

        .Select-groupHeaderIcon{
          text-align: center;
          width: 13px;
        }
      }
      .Select-groupOptions{
        overflow: hidden;
      }

      &.Select-group--opened{
        .Select-groupHeader .Select-groupHeaderIcon{
          @extend .fa;
          @extend .fa-angle-down;
        }
      }

      &.Select-group--closed{
        .Select-groupHeader .Select-groupHeaderIcon{
          @extend .fa;
          @extend .fa-angle-right;
        }
        .Select-groupOptions{
          height: 0px;
        }
      }
    }
  }
}
