.AdminMenu{
    ul.dropdown-menu{
        li{
            .MenuItem-icon{
                margin-right: 3px;
            }
        }
    }

    &.transparent{
        button.dropdown-toggle{
            border: none;
            padding: 0px;
            background-color: transparent;
            box-shadow: none;
        }
        &.open button.dropdown-toggle{
            color: #555;
        }
    }
}
