.VennChart {
  display: flex;

  > .VennCanvas {
    flex: 0 1 70%;
  }

  > .VennLegend {
    flex: 0 1 30%;
  }
}

.VennLegend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  list-style: none;

  > li {
    display: flex;
    align-items: center;
    margin: 2px 0;
  }

  .VennLegend-square {
    display: inline-block;
    flex: 0 0 auto;
    width: 15px;
    height: 15px;
    margin-right: 0.4em;
  }
}
