.TopCompoundFilter-filters {
  margin-bottom: 20px;
}

.TopCompoundFilter-filter {
  display: flex;
  flex-direction: column;

  margin-top: 20px;

  > .TopCompoundFilter-operatorSelect {
    margin-bottom: 20px;
    margin-right: 10px;
  }

}

.CompoundFilter {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .CompoundFilter-controls {
    margin-right: 10px;
    align-self: stretch;

    display: flex;
    flex-direction: column;

    > .CompoundFilter-operatorSelect {
      flex: 1;

      display: flex;
      align-items: stretch;
    }
  }

}

.FilterBaseInput {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }

  > .FilterBaseInput-area {
    margin-right: 10px;
  }

  > .FilterBaseInput-filterOptions {
    margin-right: 10px;
  }
}

.PredicateBaseInput {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .PredicateBaseInput-predicateOptions {
    margin-right: 10px;
  }

  > .PredicateBaseInput-predicateInput {
    margin-right: 10px;
  }
}

.Select {
  font-size: 16px;
}
